
.card{
    width: 18rem;
    text-align: center;
    margin-left: 500px;
    margin-top: 180px;
    height: 250px;
}
#datepicker{
    margin-top: 20px;
}
#male{
    margin-top: 20px;
}
#female{
    margin-top: 20px;
}
#p-1{
    text-align: center;
}